body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #1D1D1B;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.linkcitos a {
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  border: 1px solid #1D1D1B;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #1D1D1B;
  transition: all .2s;
}

.linkcitos a:first-child {
  margin-right: 20px;
}

.linkcitos a:hover {
  box-shadow: 0px 10px 30px 0px rgba(255, 81, 0, 0.3);
  background: #FF5100;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.topnav {
  padding: 30px 0px;
}

header {
  padding: 100px 0px;
  background: url("../images/shape-2.png") 45% 650px no-repeat, url("../images/shape-2.png") 60% 210px no-repeat, url("../images/shape-1.png") -100px 0px no-repeat;
  background-size: 50px, 50px, 63%;
  position: relative;
}

header .texto {
  padding-bottom: 200px;
  z-index: 10;
}

header .texto h4 {
  font-size: 28px;
  font-weight: 400;
  color: #909090;
}

header .texto h1 {
  font-size: 48px;
  margin: 10px 0px 30px 0px;
}

header .texto p {
  font-size: 18px;
  line-height: 31px;
  color: #909090;
  width: 32%;
}

header .phone {
  width: 100%;
  position: absolute;
  top: 80px;
  right: 0px;
  text-align: right;
}

header .phone img {
  width: 100%;
  max-width: 900px;
}

header .destacados {
  margin-top: 180px;
}

header .destacados_item {
  width: calc(33% - 100px);
  height: 200px;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
  border-bottom: 5px solid #FFFFFF;
}

header .destacados_item .icono {
  margin-bottom: 30px;
}

header .destacados_item .icono img {
  height: 60px;
}

header .destacados_item h4 {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #FF5100;
}

header .destacados_item p {
  font-size: 16px;
  color: #909090;
}

header .destacados_item:hover {
  z-index: 999;
  border-bottom: 5px solid #FF5100;
}

.about {
  text-align: center;
  padding: 80px 0px;
  background: #F9F9F9;
}

.about h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about p {
  width: 80%;
  font-size: 24px;
  line-height: 31px;
  margin: 0 auto;
}

.about p:last-child {
  margin-top: 20px;
  font-size: 16px;
}

.feature {
  width: 100%;
  padding: 100px 0px;
  background: url("../images/seccion3-bg.png") center top no-repeat, url("../images/shape-4.png") right 90% no-repeat;
  background-size: contain, 70%;
}

.feature_head {
  background: #FFFFFF;
  padding: 50px;
  margin-top: 180px;
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.15);
}

.feature_head .info {
  width: 50%;
}

.feature_head .info h4 {
  font-size: 16px;
  color: #909090;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.feature_head .info h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.feature_head .info p {
  font-size: 16px;
  line-height: 31px;
  color: #909090;
}

.feature_head .lista {
  width: 24%;
}

.feature_head .lista ul {
  list-style-type: none;
}

.feature_head .lista ul li {
  padding-left: 25px;
  position: relative;
  color: #FF5100;
  margin: 25px 0;
}

.feature_head .lista ul li img {
  position: absolute;
  left: 0;
}

.feature_content {
  margin: 100px 0px 0px 0px;
}

.feature_item {
  width: calc(33.3% - 100px);
  height: 200px;
  padding: 50px;
  background: #FFFFFF;
  transition: all .2s;
  border-bottom: 5px solid #FFFFFF;
  text-align: center;
  background: #FFFFFF;
}

.feature_item .icono {
  margin-bottom: 30px;
}

.feature_item .icono img {
  height: 60px;
}

.feature_item h4 {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #FF5100;
}

.feature_item p {
  font-size: 16px;
  color: #909090;
}

.feature_item:hover {
  z-index: 999;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.testimonials {
  padding: 80px 0px;
  background: #F9F9F9;
}

.testimonials h4 {
  color: #909090;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.testimonials_slider {
  width: calc(100% - 100px);
  background: #FFFFFF;
  padding: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.testimonials_slider .datos {
  width: 20%;
  border: 1px solid red;
}

.testimonials_slider .datos .imagen {
  display: block;
  width: 150px;
  height: 150px;
  background: #FF5100;
  border-radius: 150px;
}
