$pc: #FF5100;
$sc: #E7004C;
$black: #1D1D1B;
$grey: #909090;
$lgrey: #F9F9F9;
$white: #FFFFFF;

html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes upDown {
    0% {
        top: 80px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: 80px;
    }
}
@keyframes bigSmall-1 {
    0%{
        background-size: 50px, 50px, 63%;
    }
    50%{
        background-size: 56px, 35px, 68%;
    }
    100%{
        background-size: 50px, 50px, 63%;
    }
}
@keyframes bigSmall-2 {
    0%{
        background-size: 50%;
        background-position: -30px 20px;
    }
    50%{
        background-size: 90%;
        background-position: -500px 40px;
    }
    100%{
        background-size: 50%;
        background-position: -30px 20px;
    }
}

.container {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
}
.col {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.linkcitos {
    a {
        display: inline-block;
        padding: 20px 40px;
        margin-top: 30px;
        border: 1px solid $black;
        border-radius: 5px;
        //background: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: $black;
        transition: all .2s;
        &:first-child {
            margin-right: 20px;
        }
        &:hover {
            box-shadow: 0px 10px 30px 0px transparentize($pc, .7);
            background: $pc;
            border: 1px solid transparent;
            color: $white;
        }
    }
}
.preloader {
    z-index: 120;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    svg {
        width: 100px;
        .st0 {
            fill: $white;
        }
        #recuadro {
            animation: rotate 1.5s infinite ease-in-out;
            transform-origin: center;
        }
    }
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background: transparentize($black, .04);
    z-index: 100;
}

.topnav {
    padding: 30px 0px;
}
header {
    padding: 100px 0px;
    background:
        url('../images/shape-2.png') 45% 650px no-repeat,
        url('../images/shape-2.png') 60% 210px no-repeat,
        url('../images/shape-1.png') -100px 0px no-repeat
        ;
    background-size: 50px, 50px, 63%;
    position: relative;
    animation: bigSmall-1 10s ease-in infinite;
    .texto {
        padding-bottom: 200px;
        z-index: 10;
        h4 {
            font-size: 28px;
            font-weight: 400;
            color: $grey;
        }
        h1 {
            font-size: 48px;
            margin: 10px 0px 30px 0px;
        }
        p {
            font-size: 18px;
            line-height: 31px;
            color: $grey;
            width: 32%;
        }
    }
    .phone {
        width: 100%;
        position: absolute;
        top: 80px; right: 0px;
        text-align: right;
        animation: upDown 10s ease-in-out infinite;
        img {
            width: 100%;
            max-width: 900px;
        }
    }

    .destacados {
        margin-top: 180px;
        &_item {
            width: calc(33% - 100px);
            height: 200px;
            padding: 50px;
            background: $white;
            box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, .15);
            transition: all .2s;
            border-bottom: 5px solid $white;
            .icono {
                margin-bottom: 30px;
                img {
                    height: 60px;
                }
            }
            h4 {
                font-size: 21px;
                line-height: 24px;
                margin-bottom: 20px;
                color: $pc;
            }
            p {
                font-size: 16px;
                color: $grey;
            }
            &:hover {
                z-index: 999;
                border-bottom: 5px solid $pc;
            }
        }
    }
}
.about {
    text-align: center;
    padding: 80px 0px;
    background: $lgrey;
    h4 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    p {
        width: 80%;
        font-size: 24px;
        line-height: 31px;
        margin: 0 auto;
        &:last-child {
         margin-top: 20px;
         font-size: 16px;
        }
    }
}
.feature {
    width: 100%;
    padding: 100px 0px;
    background: 
        url('../images/seccion3-bg.png') center top no-repeat,
        url('../images/shape-4.png') right 90% no-repeat
    ;
    background-size: contain, 70%;
    &_head {
        background: $white;
        padding: 50px;
        margin-top: 180px;
        box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, .15);
        .info {
            width: 50%;
            h4 {
                font-size: 16px;
                color: $grey;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-weight: 400;
            }
            h2 {
                font-size: 36px;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                line-height: 31px;
                color: $grey;
            }
        }
        .lista {
            width: 24%;
            
            ul {
                list-style-type: none;
                li {
                    padding-left: 25px;
                    position: relative;
                    color: $pc;
                    margin: 25px 0;
                    img {
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
    &_content {
        margin: 100px 0px 0px 0px;
    }
    &_item {
        width: calc(33.3% - 100px);
        height: 200px;
        padding: 50px;
        background: $white;
        transition: all .2s;
        border-bottom: 5px solid $white;
        text-align: center;
        background: $white;
        .icono {
            margin-bottom: 30px;
            img {
                height: 60px;
            }
        }
        h4 {
            font-size: 21px;
            line-height: 24px;
            margin-bottom: 20px;
            color: $pc;
        }
        p {
            font-size: 16px;
            color: $grey;
        }
        &:hover {
            z-index: 999;
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .1);
        }
    }
}
.testimonials {
    padding: 80px 0px;
    background: $lgrey;
    h4 {
        color: $grey;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    &_slider_item {
        width: calc(100% - 100px);
        background: $white;
        padding: 50px;
        //box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .1);
        border-bottom: 3px solid $pc; 
        .datos {
            width: 12%;
            text-align: center;
            .imagen {
                display: block;
                width: 150px;
                height: 150px;
                background: $pc;
                border-radius: 150px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            h4 {
                text-transform: uppercase;
                font-size: 20px;
                color: $black;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
                color: $grey;
            }
        }
        .texto {
            width: calc(100% - 13% - 30px);
            padding-left: 30px;
            p {
                font-size: 18px;
                line-height: 28px;
                color: $grey;
            }
        }
    }
    .arrows {
        width: 100%;
        position: absolute;
        z-index: 90;
        top: 55%;
        button {
            background: transparent;
            border: 0;
            cursor: pointer;
            svg {
                path {
                    fill: $pc;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: $sc;
                    }
                }
            }
        }
        .arrow_prev {
            position: absolute;
            left: -60px;
        }
        .arrow_next {
            position: absolute;
            right: -60px;
            transform: rotate(180deg);
        }
    }
}
.testimonials_logos {
    padding: 0px 0px 80px 0px;
    background: $lgrey;
    &_item {
        width: calc(100% / 5);
    }
}
footer {
    background: url('../images/shape-5.png') -30px 20px no-repeat;
    background-size: 50%;
    animation: bigSmall-2 10s ease-in-out infinite;
    .newsletter {
        padding: 80px 0px;
        text-align: center;
        h4 {
            color: $grey;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 36px;
            margin-bottom: 60px;
        }
        form {
            position: relative;
            input {
                width: 100%;
                max-width: 745px;
                height: 75px;
                border: 1px solid $white;
                border-radius: 10px 0px 0px 10px;
                box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, .1);
                color: $grey;
                font-size: 14px;
                text-transform: uppercase;
                padding-left: 20px;
                font-weight: 700;
                letter-spacing: .3px;
                transition: all .2s;
                &:focus {
                    color: $black;
                }
            }
            button {
                width: 176px;
                height: 75px;
                background: $pc;
                border: 1px solid transparent;
                border-radius: 0px 10px 10px 0px;
                color: $white;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                box-shadow: 0px 10px 50px 0px transparentize($pc, .8);
                cursor: pointer;
                transition: all .2s;
                &:hover {
                    background: $sc;
                    box-shadow: 0px 20px 50px 0px transparentize($sc, .6);
                }
            }
        }
    }
    .downloads {
        padding: 80px 0px;
        text-align: center;
        h4 {
            color: $grey;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 36px;
            margin-bottom: 10px;
        }
        .linkcitos {
            a {
                background: $pc;
                color: $white;
                border: 1px solid transparent;
                &:hover {
                    background: $sc;
                    box-shadow: 0px 10px 50px 0px transparentize($sc, .7);
                }
            }
        }
    }
}
