html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #1D1D1B;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0% {
    top: 80px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 80px;
  }
}

@keyframes bigSmall-1 {
  0% {
    background-size: 50px, 50px, 63%;
  }
  50% {
    background-size: 56px, 35px, 68%;
  }
  100% {
    background-size: 50px, 50px, 63%;
  }
}

@keyframes bigSmall-2 {
  0% {
    background-size: 50%;
    background-position: -30px 20px;
  }
  50% {
    background-size: 90%;
    background-position: -500px 40px;
  }
  100% {
    background-size: 50%;
    background-position: -30px 20px;
  }
}

.container {
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.linkcitos a {
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  border: 1px solid #1D1D1B;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #1D1D1B;
  transition: all .2s;
}

.linkcitos a:first-child {
  margin-right: 20px;
}

.linkcitos a:hover {
  box-shadow: 0px 10px 30px 0px rgba(255, 81, 0, 0.3);
  background: #FF5100;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.preloader {
  z-index: 120;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader svg {
  width: 100px;
}

.preloader svg .st0 {
  fill: #FFFFFF;
}

.preloader svg #recuadro {
  animation: rotate 1.5s infinite ease-in-out;
  transform-origin: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(29, 29, 27, 0.96);
  z-index: 100;
}

.topnav {
  padding: 30px 0px;
}

header {
  padding: 100px 0px;
  background: url("../images/shape-2.png") 45% 650px no-repeat, url("../images/shape-2.png") 60% 210px no-repeat, url("../images/shape-1.png") -100px 0px no-repeat;
  background-size: 50px, 50px, 63%;
  position: relative;
  animation: bigSmall-1 10s ease-in infinite;
}

header .texto {
  padding-bottom: 200px;
  z-index: 10;
}

header .texto h4 {
  font-size: 28px;
  font-weight: 400;
  color: #909090;
}

header .texto h1 {
  font-size: 48px;
  margin: 10px 0px 30px 0px;
}

header .texto p {
  font-size: 18px;
  line-height: 31px;
  color: #909090;
  width: 32%;
}

header .phone {
  width: 100%;
  position: absolute;
  top: 80px;
  right: 0px;
  text-align: right;
  animation: upDown 10s ease-in-out infinite;
}

header .phone img {
  width: 100%;
  max-width: 900px;
}

header .destacados {
  margin-top: 180px;
}

header .destacados_item {
  width: calc(33% - 100px);
  height: 200px;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
  border-bottom: 5px solid #FFFFFF;
}

header .destacados_item .icono {
  margin-bottom: 30px;
}

header .destacados_item .icono img {
  height: 60px;
}

header .destacados_item h4 {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #FF5100;
}

header .destacados_item p {
  font-size: 16px;
  color: #909090;
}

header .destacados_item:hover {
  z-index: 999;
  border-bottom: 5px solid #FF5100;
}

.about {
  text-align: center;
  padding: 80px 0px;
  background: #F9F9F9;
}

.about h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about p {
  width: 80%;
  font-size: 24px;
  line-height: 31px;
  margin: 0 auto;
}

.about p:last-child {
  margin-top: 20px;
  font-size: 16px;
}

.feature {
  width: 100%;
  padding: 100px 0px;
  background: url("../images/seccion3-bg.png") center top no-repeat, url("../images/shape-4.png") right 90% no-repeat;
  background-size: contain, 70%;
}

.feature_head {
  background: #FFFFFF;
  padding: 50px;
  margin-top: 180px;
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.15);
}

.feature_head .info {
  width: 50%;
}

.feature_head .info h4 {
  font-size: 16px;
  color: #909090;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.feature_head .info h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.feature_head .info p {
  font-size: 16px;
  line-height: 31px;
  color: #909090;
}

.feature_head .lista {
  width: 24%;
}

.feature_head .lista ul {
  list-style-type: none;
}

.feature_head .lista ul li {
  padding-left: 25px;
  position: relative;
  color: #FF5100;
  margin: 25px 0;
}

.feature_head .lista ul li img {
  position: absolute;
  left: 0;
}

.feature_content {
  margin: 100px 0px 0px 0px;
}

.feature_item {
  width: calc(33.3% - 100px);
  height: 200px;
  padding: 50px;
  background: #FFFFFF;
  transition: all .2s;
  border-bottom: 5px solid #FFFFFF;
  text-align: center;
  background: #FFFFFF;
}

.feature_item .icono {
  margin-bottom: 30px;
}

.feature_item .icono img {
  height: 60px;
}

.feature_item h4 {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #FF5100;
}

.feature_item p {
  font-size: 16px;
  color: #909090;
}

.feature_item:hover {
  z-index: 999;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.testimonials {
  padding: 80px 0px;
  background: #F9F9F9;
}

.testimonials h4 {
  color: #909090;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.testimonials_slider_item {
  width: calc(100% - 100px);
  background: #FFFFFF;
  padding: 50px;
  border-bottom: 3px solid #FF5100;
}

.testimonials_slider_item .datos {
  width: 12%;
  text-align: center;
}

.testimonials_slider_item .datos .imagen {
  display: block;
  width: 150px;
  height: 150px;
  background: #FF5100;
  border-radius: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.testimonials_slider_item .datos h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #1D1D1B;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials_slider_item .datos p {
  font-size: 16px;
  color: #909090;
}

.testimonials_slider_item .texto {
  width: calc(100% - 13% - 30px);
  padding-left: 30px;
}

.testimonials_slider_item .texto p {
  font-size: 18px;
  line-height: 28px;
  color: #909090;
}

.testimonials .arrows {
  width: 100%;
  position: absolute;
  z-index: 90;
  top: 55%;
}

.testimonials .arrows button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.testimonials .arrows button svg path {
  fill: #FF5100;
}

.testimonials .arrows button:hover svg path {
  fill: #E7004C;
}

.testimonials .arrows .arrow_prev {
  position: absolute;
  left: -60px;
}

.testimonials .arrows .arrow_next {
  position: absolute;
  right: -60px;
  transform: rotate(180deg);
}

.testimonials_logos {
  padding: 0px 0px 80px 0px;
  background: #F9F9F9;
}

.testimonials_logos_item {
  width: calc(100% / 5);
}

footer {
  background: url("../images/shape-5.png") -30px 20px no-repeat;
  background-size: 50%;
  animation: bigSmall-2 10s ease-in-out infinite;
}

footer .newsletter {
  padding: 80px 0px;
  text-align: center;
}

footer .newsletter h4 {
  color: #909090;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .newsletter h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

footer .newsletter form {
  position: relative;
}

footer .newsletter form input {
  width: 100%;
  max-width: 745px;
  height: 75px;
  border: 1px solid #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  color: #909090;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 700;
  letter-spacing: .3px;
  transition: all .2s;
}

footer .newsletter form input:focus {
  color: #1D1D1B;
}

footer .newsletter form button {
  width: 176px;
  height: 75px;
  background: #FF5100;
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 10px 50px 0px rgba(255, 81, 0, 0.2);
  cursor: pointer;
  transition: all .2s;
}

footer .newsletter form button:hover {
  background: #E7004C;
  box-shadow: 0px 20px 50px 0px rgba(231, 0, 76, 0.4);
}

footer .downloads {
  padding: 80px 0px;
  text-align: center;
}

footer .downloads h4 {
  color: #909090;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .downloads h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

footer .downloads .linkcitos a {
  background: #FF5100;
  color: #FFFFFF;
  border: 1px solid transparent;
}

footer .downloads .linkcitos a:hover {
  background: #E7004C;
  box-shadow: 0px 10px 50px 0px rgba(231, 0, 76, 0.3);
}

@media (max-width: 1400px) {
  @keyframes upDown {
    0% {
      top: 200px;
    }
    50% {
      top: 80px;
    }
    100% {
      top: 200px;
    }
  }
  .container {
    width: 90%;
    max-width: 1000px;
  }
  header .texto p {
    width: 50%;
  }
  header .phone {
    right: -100px;
  }
  header .phone img {
    max-width: 700px;
  }
  header .destacados {
    margin-top: 180px;
  }
  header .destacados_item {
    padding-bottom: 80px;
  }
  .about p {
    width: 90%;
  }
  .testimonials_slider_item .datos {
    width: 20%;
  }
  .testimonials_slider_item .texto {
    width: calc(100% - 30px - 23%);
  }
  .testimonials_logos_item img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  @keyframes upDown {
    0% {
      top: 0px;
    }
    50% {
      top: 80px;
    }
    100% {
      top: 0px;
    }
  }
  html {
    overflow-x: hidden !important;
  }
  header {
    padding: 50px 0px;
  }
  header .texto {
    width: 100%;
    padding-bottom: 0px;
  }
  header .texto h4 {
    text-align: center;
  }
  header .texto h1 {
    text-align: center;
  }
  header .texto p {
    width: 100%;
    text-align: center;
  }
  header .texto .linkcitos {
    text-align: center;
  }
  header .phone {
    right: 0;
    position: relative;
  }
  header .destacados {
    margin-top: 100px;
    text-align: center;
  }
  header .destacados_item {
    display: block;
    width: 60%;
    margin-bottom: 30px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature {
    background-size: 180%, 70%;
  }
  .feature_head .info {
    width: 100%;
  }
  .feature_head .lista {
    width: 49%;
    margin-top: 20px;
  }
  .feature_item {
    width: calc(100% / 2 - 100px);
    height: auto;
  }
  .feature_item p {
    text-align: justify;
  }
}
